// Fonts
$barlowSemiCondensed: 'Barlow Semi Condensed', sans-serif;

$medium: 500;
$semiBold: 600;

$font-sm: 0.688rem;
$font-med: 0.813rem;
$font-lg: 1.25rem;

// Colors

$moderateViolet: hsl(263, 55%, 52%);
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$veryDarkBlackishBlue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$lightGray: hsl(0, 0%, 81%);
$lightGrayishBlue: hsl(210, 46%, 95%);
$test: #fff
